.app {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}
.hero-section {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url("../assets/animated-background.gif") no-repeat center center
    fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -1;
}

.hero-content {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: white;
  width: 50%;
  margin-left: 50px;
}
.hero-content h1 {
  display: flex;

  z-index: 2;
  position: relative;
  font-size: 45px;
}
.hero-content p {
  font-size: 17px;
  margin-top: 1rem;
  color: #999999;
  width: 80%;
}
.cta-button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  margin-top: 18px;
  color: #fff;
  background-color: #046f26;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}
.features-section-title {
  text-align: flex-start;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #201c1c;
  position: relative;
  grid-column: 1 / -1;
  justify-self: flex-start;
}
.feature {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 1.2rem;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
  padding: 2rem 1.5rem;
  color: #1b1818;
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  transition: transform 0.2s, box-shadow 0.2s;
}

.feature:hover {
  transform: translateY(-8px) scale(1.03);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.16);
}

.feature h2 {
  margin-bottom: 0.7rem;
  font-size: 1.4rem;
  font-weight: 600;
}

.feature p {
  font-size: 1rem;
  line-height: 1.6;
}
