.glass-navbar {
  width: 80vw;
  margin: 20px auto;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: white; */
  /* backdrop-filter: blur(10px); */
  border-radius: 50px;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
  position: absolute;
}

.logo {
  font-size: 20px;
  font-weight: 600;
  color: #f8f6f6; /* Green shade */
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-menu li a {
  font-size: 18px;
  color: #f8f6f6; /* Green shade */
  font-weight: 200;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.2s ease;
}

#wallet {
  background-color: rgb(42, 43, 44);
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
}

/* Optional: Responsive tweak */
@media (max-width: 768px) {
  .glass-navbar {
    flex-direction: column;
    gap: 15px;
  }

  .nav-menu {
    flex-direction: column;
    gap: 10px;
  }
}
